<div class="root-container" (click)="closenotificationBar()">
    <!-- sideBar -->
    <div class="sidebar">
        <app-side-bar (sectionName)="importedSectionName($event)" (formName)="receiveTicketFormName($event)" (isCancelLogOut)="cancelLogout($event)"  (formHeading)="receiveTicketHeading($event)"/>
    </div>

    <!-- components -->
    <div class="components">
        <!-- header -->
        <div class="header">
            <app-header-section (sendTicketData)="receiveTicketData($event)" />
        </div>

        <!-- section name -->
        <!-- <div class="sectionName">
            <div class="section_name">{{sectionName}}</div>
        </div> -->

        <!-- dynamic components -->

        <div class="common-section-container">
            <div class="sections" *ngIf="activateDashboard === true">
                <app-dashboard-layout (singleTicket)="receiveTicketData($event)" />
            </div>

            <div class="sections tickekSection" *ngIf="activateTicket === true">
                <app-ticket-layout [formName]="ticketFormName" [fromHeading]="ticketHeading"/>
            </div>

            <div class="sections" *ngIf="activateSettings === true">
                <app-settings-layout (isCancelLogOut)="cancelLogout($event)"/>
            </div>

            <div class="sections" *ngIf="activateSingleTicket === true">
                <!-- <app-single-ticket [ticket]="singleTicketName"/> -->
                <app-admin-ticket-component [ticket]="singleTicketName"/>
            </div>
        </div>
            
    </div>
</div>

<div class="logoutPopUp" [ngClass]="{'hide' : isCancelLogout}" >
    <app-logout-popup (isCancelLogOut)="cancelLogout($event)" />
</div>

<!-- <div class="notification" *ngIf="notificationBar">
    <app-notification (openTicket)="receiveTicketData($event)"/>
</div> -->