<div class="root-container">

    <div class="heading">New Ticket Form ({{fromHeading}})</div>

    <div class="title">
        <div class="name">Facing an Issue? </div>
        <div class="description">Type it out. We’ll sort it out.</div>
    </div>

    <div class="webiste-Form">
        <app-wesite-form *ngIf = "formName==='website'" />
    </div>

    <div class="product-form" *ngIf = "formName==='product'">
        <app-product-form />
    </div>

    <div class="product-form" *ngIf = "formName==='seo'">
        <app-seo-form />
    </div>

    <div class="product-form" *ngIf = "formName==='smm'">
        <app-smm-form />
    </div>

    <div class="product-form" *ngIf = "formName==='ppc'">
        <app-ppc-form />
    </div>
</div>

