<div class="root-container">
    <!-- welcome text -->
    <div class="welcome">Welcome! <b>{{userName}}</b></div>
    <div class="right_side">
        <!-- notification -->
        <div class="notification pointer scale">
            <img src="../../../assets/notification.svg" alt="">
            <div class="indicator"></div>
        </div>

        <!-- profile -->
        <div class="profile pointer">
            <img class="scale trans" [src]="profilePic" alt="">
            <div class="client_name">{{userName}}</div>
            <i class="fa-solid fa-angle-down scale"></i>
        </div>
    </div>
</div>