<div class="root-container">
    <!-- welcome text -->
    <div class="welcome">Welcome! <b>Micheal Jackson</b></div>
    <div class="right_side">
        <!-- notification -->
        <div class="notification pointer scale">
            <img src="../../../assets/notification.svg" alt="">
            <div class="indicator"></div>
        </div>

        <!-- profile -->
        <div class="profile pointer">
            <img class="scale trans" src="../../../assets/userprofile.avif" alt="">
            <div class="client_name">Micheal Jackson</div>
            <i class="fa-solid fa-angle-down scale"></i>
        </div>
    </div>
</div>