<div class="root-container">
    <div class="container">
        <div class="title">
            <div class="heading-container">
                <div class="name">Create Quick Ticket</div>
                <div class="description">Write and address new queries and issues</div>
            </div>
            <i class="fa-solid fa-xmark pointer scale" (click)="onclickClose()"></i>
        </div>

        <form action="">
            <div class="input_fields">
                <label for="" class="description">Clint Name</label>
                <input type="text" class="inputs">
            </div>

            <div class="input_fields">
                <label for="" class="description">Module</label>
                <input type="text" class="inputs">
            </div>

            <div class="input_fields">
                <label for="" class="description">Menu Path</label>
                <select name="" id="">
                    <option value=""></option>
                </select>
            </div>

            <div class="input_fields">
                <label for="" class="description">Priority Status</label>
                <select name="" id="">
                    <option value=""></option>
                </select>
            </div>

            <div class="input_fields">
                <label for="" class="description">Ticket Body (Description)</label>
                <textarea  class="inputs textarea"></textarea>
            </div>

            <button type="submit" class="pointer scale">Submit</button>
        </form>
    </div>

</div>