.root-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #E7E7E7;
    width: 100%;
    padding: 1%;
    background-color: #ffffff;
}

.filter1 {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
}

.input {
    height: 44px;
    width: 254px;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    padding: 0 10px;
    background-color: #F9F9FB;
    color: #757575;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input img {
    width: 18px;
    height: 18px;
}

.input input {
    width: 100%;
    height: 38px;
    outline: none;
    border: none;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #7c7b7d;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    background-color: transparent;
    line-height: normal;
}

.input input::placeholder {
    color: #B6B6B6;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right_side {
    display: flex;
    gap: 10px;
    align-items: center;
}

.right_side .dateInput,
.right_side select {
    height: 44px;
    /* width: 254px; */
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    padding: 0 10px;
    outline: none;
    width: 200px;
}

.clearButton {
    height: 44px;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    padding: 0 10px;
    outline: none;
}

.red {
    color: var(--high-priority-red);
}

.gold {
    color: var(--active-orange);
}

.yellow {
    color: #FFD722;
}

.quick-form-button {
    border-radius: 4px;
    background: var(--blue-color);
    border: 2px solid var(--blue-color);
    display: flex;
    width: 157px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.priority-selector option {
    padding: 0 5px;
    height: 20px;
}

/* filter 2 */

.filter2 {
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0;
    margin-top: 20px;
}

.filter-option {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px;
}

.filterName {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
}

.navigator-section {
    width: 100%;
}

.navigator {
    background-color: #2C63BA;
    height: 4px;
    width: 110px;
    border-radius: 10px;
    position: relative;
    margin-left: 0;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* content */

.content {
    height: 59vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
    align-items: center;
}

.common_box {
    display: flex;
    gap: 10px;
    overflow-x: hidden;
}

.tickets {
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    padding: 20px;
    margin-top: 20px;
    width: 96%;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-left-side {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.ticket-number {
    color: var(--dark);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    /* 87.5% */
}

.ticket-time {
    color: var(--gray, #84818A);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    /* 116.667% */
}

.ticket-query {
    color: var(--dark);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-top: 25px;
}

.ticket-priority {
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    background: #FEF1F3;
    padding: 6px 10px;
    margin-left: 10px;
}

.ticketFor {
    color: #3B8AFF;
    background-color: #2C63BA1A;
}

.ticket-description {
    color: var(--gray-color);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin: 15px 0;
}

.ticket-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.ticket-footer img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.profile_name {
    color: var(--gray, #84818A);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    /* 100% */
}

.open-ticket {
    color: #2C63BA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    /* 100% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form_container {
    border: 2px solid #E7E7E7;
}

.inputWidth {
    width: 130px;
}

.falseWidth {
    width: 240px;
}

.rootWidth {
    width: 60%;
}

.formWidth {
    width: 40%;
}

.page_change {
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: center;
}

.page_change {
    margin-top: 20px;
}

.prev_next {
    color: #B4B4B4;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.24px;
}

.counts {
    border-radius: 4px;
    background: transparent;
    border: 1px solid #E7E7E7;
    padding: 10px 20px;
    font-family: Montserrat;
    font-size: 12px;
}

.active {
    background: #2C63BA;
    color: #fff
}

.notFound {
    color: #bcbcc0;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    /* 100% */
    height: 61vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prior-wrapper {
    display: flex;
    gap: 10px;
}

.loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59vh;
}

/* Form field styling */
.form-field {
    position: relative;
    width: 100%;
  }
  
  .date-trigger {
    padding: 8px 12px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 44px;
    width: 254px;
    color: #757575;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .calendar-icon {
    margin-left: 8px;
  }
  
  .clearButton {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #757575;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .blue{
    color: #2C63BA;
  }