<!-- <ngb-toast
      *ngFor="let toast of toastService.toasts"
      [class]="toast.classname || ''"
      [autohide]="toast.autohide || true"
      [delay]="toast.delay || 5000"
      (hidden)="toastService.remove(toast)"
    >
      <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
        <ng-template [ngTemplateOutlet]="toast.template"></ng-template>
      </ng-template>

      <ng-template #text>
        <span [innerHTML]="toast.text"></span>
        <button *ngIf="toast.showClose" 
                type="button" 
                class="ml-2 mb-1 close" 
                (click)="toastService.remove(toast)">
          &times;
        </button>
      </ng-template>
    </ngb-toast> -->