<div class="root-container">
	<div class="heading">Ticket Details</div>

	<div class="ticketContent" *ngFor="let ticket of ticket">

		<!-- <div class="tickerHeader">
            <div class="lft-side">
                <div class="color" [style.backgroundColor]="ticket.statusColor"></div>
                <div class="ticketNo">{{ticket?.ticketId}}</div>
                <div class="ticket-priority ticketFor" *ngIf="ticket.ticketFor">{{ticket.ticketFor}}</div>
            </div>
            <div class="postedTime">{{ticket?.createdAt}} | {{ticket.createdDate | date: 'dd-MM-yyyy'}}</div>
        </div>

        <div class="ticketBody">
            <div class="ticketTitle">{{ticket?.title}}</div>
            <div class="ticketNo"><span><b>Menu Path</b></span> : <span>{{ticket?.menupath}} </span></div>
            <div class="ticketNo" *ngIf="ticket?.module"><span><b>Menu Path</b></span> : <span>{{ticket?.module}}
                </span></div>
            <div class="ticketDescriptionUser">{{ticket?.description}}</div>
        </div> -->


		<div class="ticketHeader">
			<div class="lft-side">
				<div class="ticketColor" [style.backgroundColor]="ticket.statusColor"></div>
				<div class="ticketNumber">{{ticket?.ticketId}}</div>
				<div class="ticketFor">{{ticket.ticketFor}}</div>
			</div>
			<div class="rightSide">
				<div class="postedTime">{{ticket?.createdAt}} | {{ticket.createdDate | date: 'dd-MM-yyyy'}}</div>
			</div>
		</div>

		<div class="ticketBody">
			<div class="ticketTitle">{{ticket?.title}}</div>
			<div class="ticketDescription">{{ticket?.description}}</div>
			<div class="module" style="margin-top: 20px;" *ngIf="ticket?.menupath.length === 1"><span>Module : </span>{{ticket?.menupath[0].name}}</div>

			<div class="module" *ngIf="ticket?.menupath.length > 1" style = "margin-top : 20px" ><span>Pages :</span></div>
			<ul class="menupathList" *ngIf="ticket?.menupath.length > 1">
				<li class="module" *ngFor = "let t of ticket?.menupath">{{t.name}}</li>
			</ul>
			<div class="menupath" *ngIf="ticket?.module" style="margin-top: 10px;"><span>Menu Path : </span>{{ticket?.module}}</div>
		</div>

		<div class="attachmentHeading">Attachment : </div>

		<div class="attatchments" *ngIf="ticket?.attachment">
			<img [src]="ticket?.attachment" alt="image" />
		</div>
	</div>

	<div class="commentSection" *ngIf="comments.length > 0">
		<div class="commentsHeading">Response from Support Team</div>
		<div class="comments-wrapper">
			<div class="comments" *ngFor="let c of comments">
				<!-- comment -->
				<div class="comment">{{c.comment}}</div>
				<div class="attachments" *ngIf="c.commentAttachment">
					<div class="commentAttachmentHeading">Attachments</div>
					<div class="cmtImages">
						<img [src]="c.commentAttachment" alt="">
					</div>
				</div>
				<!-- comment time -->
				<div class="commentTimeAndBy">
					<div class="text">{{c.commentTime}} | {{c.commentDate}} By &#64;{{c.commentBy}}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="statusInput">
		<div class="replySection">Reply to Ticket</div>

		<div class="inputFields">

			<!-- Status -->
			<div class="row-1">
				<div class="dropdown-wrapper" (click)="toggleDropdown('status')" tabindex="0"
					(blur)="closeDropdown('status')">
					<label>Status</label>
					<div class="selected-item">
						<div class="lft-side">
							<span class="color-dot" [ngStyle]="{ 'background-color': getColor(selectedStatus) }"></span>
							{{ selectedStatus || 'Select status' }}
						</div>
						<span class="arrow"><i class="fa-solid fa-angle-down"></i></span>
					</div>
					<ul *ngIf="statusDropDown" class="dropdown-list">
						<li *ngFor="let option of statusOptions" (click)="selectStatus(option)">
							<span class="color-dot" [ngStyle]="{ 'background-color': option.color }"></span>
							{{ option.label }}
						</li>
					</ul>
				</div>
			</div>

			<!-- Priority (Client) -->
			<div class="row-1">
				<div
				  class="dropdown-wrapper"
				  [class.disabled]="!isActive"
				  (click)="isActive && toggleDropdown('priorClient')"
				  [attr.tabindex]="isActive ? '0' : '-1'"
				  (blur)="closeDropdown('priorClient')"
				>
				  <label>Priority (Client)</label>
				  <div class="selected-item">
					<div class="lft-side">
					  {{ selectedPriority || 'Select Priority' }}
					</div>
					<span class="arrow"><i class="fa-solid fa-angle-down"></i></span>
				  </div>
				  <ul *ngIf="priorClientDropDown" class="dropdown-list">
					<li
					  *ngFor="let option of priority"
					  (click)="getPriority(option.value)"
					>
					  {{ option.label }}
					</li>
				  </ul>
				</div>
			  </div>
			  

			<!-- Status (Admin) -->
			<div class="row-1">
				<div
				  class="dropdown-wrapper"
				  [class.disabled]="!isActive"
				  (click)="isActive && toggleDropdown('priorAdmin')"
				  [attr.tabindex]="isActive ? '0' : '-1'"
				  (blur)="closeDropdown('priorAdmin')"
				>
				  <label>Status (Admin)</label>
				  <div class="selected-item">
					<div class="lft-side">
					  {{ selectedAdminStatus || 'Select Admin Status' }}
					</div>
					<span class="arrow"><i class="fa-solid fa-angle-down"></i></span>
				  </div>
				  <ul *ngIf="priorAdminDropDown" class="dropdown-list">
					<li
					  *ngFor="let option of adminStatus"
					  (click)="getAdminStatus(option.value)"
					>
					  {{ option.label }}
					</li>
				  </ul>
				</div>
			  </div>
			  

		</div>

		<!-- Ticket Body -->
		<div class="ticketBody">
			<label for="">Response from Support Team</label>
			<textarea placeholder="Reply here..." [(ngModel)]="newComment" class="ticketCommentSection"
				[disabled]="!isActive"></textarea>
		</div>

		<!-- image upload section -->
		<div class="uploadImage">
			<input type="file" (change)="onChoosingCommentFile($event)">
		</div>

		<!-- Submit Button -->
		<div class="btnContainer">
			<button class="submitButton pointer scale trans" (click)="submitReply()" [disabled]="isDisable">Submit Reply</button>
		</div>
	</div>
</div>