<div class="containers">

    <div class="contents">

        <div class="account-grid">
            <div class="box-1">
                <div class="name">Account Info</div>
                <div class="des">Manage your account details</div>
            </div>
            <div class="box-2">
                <div class="inputFields name">
                    <label for="">Client Name</label>
                    <input type="text" [(ngModel)]="clientName" disabled>
                </div>
                <div class="inputFields name">
                    <label for=""> Client Location</label>
                    <input type="text" [(ngModel)]="place" disabled>
                </div>
            </div>
            <div class="box-3">
                <img src="../../../assets/logo.svg" alt="">
            </div>
        </div>

        <div class="row-2">
            <div class="box-1"></div>
            <div class="box-2">
                <div class="inputFields email">
                    <label for="">Official Email Id</label>
                    <input type="text" [(ngModel)]="emailId" [disabled]="!isInputDisabled">
                </div>
            </div>
            <div class="btns">
                <div class="buttonStyle editButton pointer scale trans" *ngIf="!isInputDisabled" (click)="editEmail()">
                    <img src="../../../assets/edit_button.svg" alt="">
                    <span>Edit Email</span>
                </div>
                <div class="buttons" *ngIf="isInputDisabled">
                    <div class="saveButton btn pointer scale" mat-raised-button matTooltip="update email" matTooltipPosition="above" (click)="updateEmail()"><img src="../../../assets/saveIcon.svg" alt=""></div>
                    <div class="cancelButton btn pointer scale" matTooltip="Cancel" matTooltipPosition="above" (click)="cancelEmail()"><img src="../../../assets/cancelIcon.svg" alt=""></div>
                </div>
            </div>
        </div>

        <div class="logOutButton">
            <div class="loginButton buttonStyle pointer scale trans" (click)="logout()">
                <img src="../../../assets/logout_icon.svg" alt="">
                <span>Log Out</span>
            </div>
        </div>        
    </div>


</div>